<div *ngIf="loadingUsers">Loading users...</div>

<div *ngIf="users" class="container">
  <div class="column">
    <h1>User List</h1>
    <div *ngIf="!loadingUsers">
      <div *ngFor="let user of users">
        {{ user.displayName }}
        <button (click)="addUser(user.id!)">Add User</button>
        <br />
      </div>
    </div>
  </div>

  <div class="column">
    <h1>Selected Users</h1>
    <div *ngFor="let user of selectedUsers">
      {{ user.displayName }}
      <button (click)="removeUser(user.id!)">Remove User</button>
      <br />
    </div>
    ---------------------<br />

    <h1>Message to Send</h1>

    <textarea [(ngModel)]="messageToSend"></textarea>
    <br />

    <button (click)="send()">Send to Selected Users</button>
  </div>
</div>
